<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UE4CmdLineRun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UE4Editor - Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UE4Game - Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>UE4Game - iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>UE4XcodeHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>kortex_environment - Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>kortex_environment - iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>kortex_environmentEditor - Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00BE260A16A0CE7F35958E3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01D7F5FA0216AC6226A1280E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>218920EFE04144E374789075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27FC515F02F02C47BA7CA1B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28A72D5FA3E9427667A8831D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C15D57593E70AEEFE33308F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DC8E8890C6C09D77D4988E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71665C6627798BD8F3C6E09B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DBEBEB590062C9C08543094</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D7357E291811922B747401D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97019536C54C69922637ED54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B93443B07DF671E8F5CE1937</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4C6D628DEF83BD3D40540F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBD3C2F60ABCDE99458E4453</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0F604080DA7621A6D933C9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7B0A48960FF79ABE56FC202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
