<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00BE260A16A0CE7F35958E3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01D7F5FA0216AC6226A1280E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08A57C5B25B00FA4FA5E4857</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>140E7939346D7B526D616B76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BFAB2607181942F62E658FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28A72D5FA3E9427667A8831D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C15D57593E70AEEFE33308F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>304B8AF15375C9C27F4EB257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AA4E8A638EB0BCB9F8652DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DA558753C1C1DF0EC41C5DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46BC77453B920EF68BDB1B65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A1F5A0B8E8D75A431D857B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56D4031E8E54F84FF7628E09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>573FA31DA8864EE68C9F2CC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71665C6627798BD8F3C6E09B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D688672D6A1BEC47AD88A6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DBEBEB590062C9C08543094</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BAAA87D36562B939314C3F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D7357E291811922B747401D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91CDE48D40B698A0F88D6D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97019536C54C69922637ED54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF8981999AE121878D4F3558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1FB2861CD3BF4769C098E24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4C6D628DEF83BD3D40540F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFFE753A5D76854B03D9AB89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA67AE4DC1CC22D98259FCFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBD3C2F60ABCDE99458E4453</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1E1A5808E36F7D8122F6B41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6EF6A347F66C43EB4952451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
